body {
    overflow-y: scroll;
}

.dropdown-menu form {
    min-width: 20rem;
}

.livedot {
    display: none;
}

.livedot::after {
    content: "\2b24";
    color: #62c462;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

h1.faded, h2.faded, h3.faded {
    opacity: 0.5;
}

.flow-history-td {
    position: relative;
}

.flow-history-values {
    width: 100%;
    position: relative;
}

.flow-history-value {
    box-sizing: border-box;
    border: 1px solid #afafaf;
    border-left: none;
    display: inline-block;
    width: 5px;
    height: 25px;
}

.flow-history-value:first-child {
    width: 6px;
    border-left: 1px solid #afafaf;
}

.flow-history-value.flow-history-value-select-start {
    border: 2px solid red;
    border-right: 1px solid #afafaf;
}

.flow-history-value.flow-history-value-select-end {
    border: 2px solid red;
    border-left: none;
}

.flow-history-value.flow-history-value-select-end:first-child {
    border: 2px solid red;
    border-left: 1px solid #afafaf;
}

.flow-history-value.flow-history-value-select {
    border: 2px solid red;
    border-left: none;
    border-right: 1px solid #afafaf;
}

.flow-history-value.flow-history-value-select:first-child {
    border-left: 1px solid #afafaf;
}

.flow-history-value-none {
    background-color: white;
}

.flow-history-value-present {
    background-color: #ddddff;
}

.flow-history-value-high {
    background-color: #aaaaff;
}
