body {
    overflow-y: scroll;
}

.dropdown-menu form {
    min-width: 20rem;
}

.livedot {
    display: none;
}

.livedot::after {
    content: "\2b24";
    color: #62c462;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

h1.faded, h2.faded, h3.faded, h4.faded {
    opacity: 0.3;
}

h1.no-margin, h2.no-margin, h3.no-margin, h4.no-margin {
    margin: 0;
}

.flow-history-td {
    position: relative;
}

.flow-history-values {
    width: 100%;
    position: relative;
}

.flow-history-value {
    box-sizing: border-box;
    border: 1px solid #afafaf;
    border-left: none;
    display: inline-block;
    width: 5px;
    height: 25px;
}

.flow-history-value:first-child {
    width: 6px;
    border-left: 1px solid #afafaf;
}

.flow-history-value.flow-history-value-select-start {
    border: 2px solid red;
    border-right: 1px solid #afafaf;
}

.flow-history-value.flow-history-value-select-end {
    border: 2px solid red;
    border-left: none;
}

.flow-history-value.flow-history-value-select-end:first-child {
    border: 2px solid red;
    border-left: 1px solid #afafaf;
}

.flow-history-value.flow-history-value-select-start.flow-history-value-select-end {
    border: 2px solid red;
}

.flow-history-value.flow-history-value-select {
    border: 2px solid red;
    border-left: none;
    border-right: 1px solid #afafaf;
}

.flow-history-value.flow-history-value-select:first-child {
    border-left: 1px solid #afafaf;
}

.location-status-container {
    height: 30px;
}

.location-status {
    display: inline-block;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    font-size: small;
    text-align: center;
    font-weight: bolder;
}

.location-status-A { background-color: #009900 }
.location-status-B { background-color: #bbbb00 }
.location-status-C { background-color: #cc0000 }