{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'SBZ -- Construction' %}{% endblock %}

{% block content %}
    <header>
        <h1>Constructie</h1>
    </header>

    <p>Het doel van Stichting Borrelbeheer Zilverling (SBZ) is het in- en verkopen van dranken in de borrelruimtes die
        beheerd worden door de stichting</p>

    <p>De zes deelnemende verenigingen aan SBZ, en daarmee het bestuur van de stichting, zijn:
    <ul>
        <li>I.C.T.S.V. Inter-<i>Actief</i>, de studievereniging voor de bachelors Technical Computer Science en Business
            Information Technology en bijbehorende masters
        </li>
        <li>W.S.G. Abacus, de studievereniging voor de bachelor en de master Applied Mathematics</li>
        <li>E.T.S.V. Scintilla, de studievereniging voor de bachelor Electrical Engineering en de masters Electrical
            Engineering en Embedded Systems
        </li>
        <li>S.A. Proto, de studievereniging voor de bachelor Creative Technology</li>
        <li>S.V. Sirius, de studievereniging voor de bachelors Public Administration, Health Sciences, European Studies
            en European Public Administration en bijbehorende masters
        </li>
        <li>S.V. Stress, de studievereniging voor de bachelors Business Administration, International Business
            Administration, Industrial Engineering and Management en Business Information Technology en bijbehorende
            masters
        </li>
    </ul>
    </p>
    <p>
        Het bestuur van de stichting is te bereiken via <a
            href="mailto:bestuur@sbz.utwente.nl">bestuur@sbz.utwente.nl</a>.
    </p>

    </br>

    <p>De uitvoerende taken van de stichting worden uitgevoerd door de Uitvoerende Commissie.</br>
        </br>
        Momenteel bestaat de Uitvoerende Commissie uit:
    <ul>
        <li>Ruben Groot Roessink - Voorzitter</li>
        <li>Wouter Kobes - Secretaris & Commissaris Hygiëne</li>
        <li>Ronald Kremer - Penningmeester</li>
        <li>Jiska Chang - Commissaris Inkoop</li>
    </ul>
    </p>
    <p>
        De commissie is te bereiken via <a href="mailto:commissie@sbz.utwente.nl">commissie@sbz.utwente.nl</a>.
    </p>
{% endblock %}