{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'SBZ -- Frontpage' %}{% endblock %}

{% block content %}
    <header>
        <h1>Stichting Borrelbeheer Zilverling</h1>
    </header>

    <p>Stichting Borrelbeheer Zilverling (SBZ) is een inkoopstichting zonder winstoogmerk voor het verkopen van dranken
        aan een <a href="{% url 'general:construction' %}">zestal studieverenigingen</a> op de campus van de
        Universiteit van Twente, te Enschede.</p>

    <p>De dranken worden ingekocht voor de verenigingen om gebruikt te worden tijdens borrels in de borrelruimtes in het
        gebouw de Zilverling, op de campus van de Universiteit van Twente en borrels die plaatsvinden op andere
        locaties, zoals de introkampen of buitenborrels op het O&O-plein.</p>

    <p>De borrels die de komende tijd plaats zullen vinden zijn te vinden op <a
            href="http://alex.ia.utwente.nl">Alexia</a>. Voor het organiseren van een borrel, bijvoorbeeld een
        afstudeerborrel, kan er contact worden opgenomen met één van de studieverenigingen.</p>

    <p>Voor leden van de deelnemende verenigingen is het ook mogelijk om persoonlijk dranken af te nemen. Hiervoor kunt
        u mailen naar <a href="mailto:overleg@sbz.utwente.nl">overleg@sbz.utwente.nl</a>.</p>



{% endblock %}