{% extends 'base.html' %}

{% load i18n flow %}

{% block title %}SBZ -- FlowGuard History{% endblock %}

{% block content %}
    <h1>
        <a href="{% url "flowguard:history_month" prev_year prev_month %}" class="btn btn-secondary">‹</a>
        {{ start_date|date:"F Y"|capfirst }}
        <a href="{% url "flowguard:history_month" next_year next_month %}" class="btn btn-secondary">›</a>
    </h1>
    <p>
        Selection: <span id="selection">Try dragging across the flow indicators</span>
    </p>
    {% for channel in channel_values %}
        <h2>

            {{ channel.channel.name }}

        </h2>
        <table class="table">
            {% for week in channel.flows %}
                <tr>
                    {% for day in week %}
                        <td class="flow-history-td">
                            <h3 class="{% if day.date.year != year or day.date.month != month %}faded{% endif %}">{{ day.date|date:"D j" }}</h3>
                            <div class="flow-history-values">
                                {% for hour in day.hours %}<span class="flow-history-value" style="background-color: {{ hour|flow_color }}"
                                                                 data-value='"{{ hour|escapejs }}"'
                                                                 draggable="true"
                                                                 data-channel="{{ channel.channel.pk }}" data-date="{{ day.date|date:"D j F" }}" data-hour="{{ forloop.counter0 }}">

                                </span>{% endfor %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <script type="text/javascript">
        let currentStart = null;

        function updateRange(start, end) {
            for(let node of document.querySelectorAll('.flow-history-value-select-start')) node.classList.remove('flow-history-value-select-start');
            for(let node of document.querySelectorAll('.flow-history-value-select-end')) node.classList.remove('flow-history-value-select-end');
            for(let node of document.querySelectorAll('.flow-history-value-select')) node.classList.remove('flow-history-value-select');

            if(start.dataset.channel !== end.dataset.channel) return '(invalid range)';

            let total = 0.0;
            let node = start;
            node.classList.add('flow-history-value-select-start');
            total += parseFloat(JSON.parse(node.dataset.value));

            while(node !== end) {
                if(node.nextElementSibling) {
                    node = node.nextElementSibling;
                } else if(node.parentNode.parentNode.nextElementSibling) {
                    node = node.parentNode.parentNode.nextElementSibling.querySelector('.flow-history-value');
                } else {
                    let nextTr = node.parentNode.parentNode.parentNode.nextElementSibling;

                    if(!nextTr) {
                        return updateRange(end, start);
                    }

                    node = nextTr.querySelector('.flow-history-value');
                }

                total += parseFloat(JSON.parse(node.dataset.value));
                if(node === end) break;

                node.classList.add('flow-history-value-select');
            }

            end.classList.add('flow-history-value-select-end');

            let left = `${start.dataset.date} ${start.dataset.hour}:00`;
            let right = `${end.dataset.date} ${end.dataset.hour}:59`;

            return `from ${left} to ${right}: ${total.toFixed(1)}ℓ`;
        }

        function update(end) {
            let selectionText = updateRange(currentStart, end);
            document.querySelector('#selection').textContent = selectionText;
        }

        function onStart(e) {
            if(e.buttons & 1) {
                e.preventDefault();
                e.target.classList.add('flow-history-value-select-start');
                currentStart = e.target;
                update(e.target);
            }
        }

        function onEnd(e) {
            if(e.buttons & 1) {
                e.preventDefault();
                update(e.target);
                e.preventDefault();
            }
        }

        window.addEventListener('load', function() {
            for(const value of document.querySelectorAll('.flow-history-value')) {
                value.addEventListener('mousedown', onStart);
                value.addEventListener('mouseover', onEnd);
                value.addEventListener('mouseup', onEnd);
            }
        });
    </script>
{% endblock %}
