{% load i18n static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SBZ -- Monitor</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/slate/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'js/socket.io.js' %}"></script>
    </head>
    <body><div class="container">
        <script type="text/javascript">
            function formatDate(secs) {
                if(secs < 15*60) {
                    return 'Live';
                } else if(secs < 60 * 60) {
                    return Math.round(secs / 60) + 'm ago';
                } else if(secs < 60 * 60 * 24) {
                    return Math.round(secs / 60 / 60) + 'h ' + Math.round((secs / 60) % 60) + 'm ago';
                } else {
                    return Math.round(secs / 60 / 60 / 24) + 'd ago';
                }
            }

            function getStoredValue(channel) {
                if(localStorage[channel.channel_id] === undefined) {
                    localStorage[channel.channel_id] = channel.value + '';
                    return channel.value;
                } else {
                    return parseFloat(localStorage[channel.channel_id]);
                }
            }

            function reset(e, channel) {
                const root = document.querySelector('[data-channel-pk="' + channel + '"]');
                localStorage.removeItem(channel);
                root.querySelector('.data-diff').textContent = '0,0';
            }

            const socket = io('{{ socketio_url|escapejs }}/sbz/flow');
            var sparkline = {};
            var lastValue = {};

            socket.on('connect', function() {
                socket.on('flow', function(data) {
                    for(const channel of data) {
                        const root = document.querySelector('[data-channel-pk="' + channel.channel_id + '"]');
                        root.querySelector('.data-channel-name').textContent = channel.channel_name;
                        root.querySelector('.data-value').textContent = (channel.value.toFixed(1) + '').replace('.', ',');
                        const date = new Date(channel.first_seen);
                        const time = root.querySelector('.data-time');
                        time.dateTime = date.toISOString();
                        const secondDifference = ((new Date()).getTime() - date.getTime()) / 1000;
                        const dateText = formatDate(secondDifference);
                        time.textContent = dateText;
                        root.querySelector('.data-live').style.display = (dateText == 'Live') ? 'inline' : 'none';
                        const storedValue = getStoredValue(channel);
                        root.querySelector('.data-diff').textContent = (channel.value - storedValue).toFixed(1).replace('.', ',');

                        if(secondDifference > 30*60) {
                            root.querySelector('.data-sparkline').textContent = '';
                            lastValue[channel.channel_id] = undefined;
                            sparkline[channel.channel_id] = undefined;
                        } else if(lastValue[channel.channel_id] === undefined) {
                            lastValue[channel.channel_id] = channel.value;
                        } else {
                            if(sparkline[channel.channel_id] === undefined) {
                                sparkline[channel.channel_id] = [];
                            }

                            sparkline[channel.channel_id].push(channel.value - lastValue[channel.channel_id]);
                            lastValue[channel.channel_id] = channel.value;

                            if(sparkline[channel.channel_id].length > 60) {
                                sparkline[channel.channel_id].splice(0, 1);
                            }

                            $(root.querySelector('.data-sparkline')).sparkline(sparkline[channel.channel_id], {
                                width: '100%',
                                height: '40px',
                                disableTooltips: true,
                            });
                        }
                    }
                });
            });
        </script>

        <div class="row">
        {% for channel in channels %}
            <div class="col-md-6 my-2" data-channel-pk="{{ channel.pk }}">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h1 class="data-channel-name">{{ channel.name }}</h1>
                            </div>
                            <div class="col">
                                <p class="text-right">
                                    <time class="data-time">...</time>
                                    <span class="data-live livedot"></span>
                                </p>
                            </div>
                        </div>
                        <h1 class="display-3">
                            <span class="data-value">{{ channel.value.value }}</span>
                            <small>ℓ</small>
                        </h1>
                        <div class="row">
                            <div class="col">
                                <h3 class="text-success">
                                    +
                                    <span class="data-diff">...</span>
                                    <small>ℓ</small>
                                    <button class="btn btn-sm btn-warning" type="button" onclick="reset(event, {{ channel.pk }})">
                                        Reset
                                    </button>
                                </h3>
                            </div>
                            <div class="col data-sparkline">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div></body>
</html>