django-debug-toolbar>=1.9,<1.10
Django>=2.2.17,<2.3
django-sslserver>=0.20

mysqlclient>=2.0.1,<2.1
requests>=2.19.1,<2.20
raven==5.0.0
beautifulsoup4>=4.6.0
socketIO-Client>=0.7.2,<0.8
icalendar>=4.0.3,<4.1

Flask>=1.0.3,<1.1
Flask-SocketIO>=4.0.0,<4.1
