{% extends 'base.html' %}

{% load i18n %}

{% block title %}SBZ -- Structure{% endblock %}

{% block content %}
<h1>Structure</h1>

<p>The purpose of Stichting Borrelbeheer Zilverling (SBZ) is the purchase and sale of drinks in the drinking rooms
    managed by the foundation.</p>

<p>The six participating associations in SBZ, and therefore the board of the foundation, are:
</p>
<ul>
    <li>I.C.T.S.V. Inter-<i>Actief</i>, the study association for the bachelors Technical Computer Science and Business
        Information Technology and associated masters
    </li>
    <li>W.S.G. Abacus, the study association for the bachelor and master Applied Mathematics</li>
    <li>E.T.S.V. Scintilla, the study association for the bachelor Electrical Engineering and the master Electrical
        Engineering Systems & Control and Embedded Systems
    </li>
    <li>S.A. Proto, the study association for the bachelor Creative Technology and master Interaction Technology</li>
    <li>S.V. Stress, the study association for the bachelors Business Administration, International Business
        Administration, Industrial Engineering and Management, and Business Information Technology and their associated
        masters
    </li>
    <li>
        S.A. Communiqué, the study association for the bachelor Communication Science and corresponding master
    </li>
</ul>

<p>
    The general board of the foundation can be reached via <a href="mailto:ab@sbz.utwente.nl">ab@sbz.utwente.nl</a>.
</p>

<h1>Daily Board</h1>
<p>Daily Board
    The executive tasks of the foundation are carried out by the Daily Board. Currently the Daily Board consists of:
</p>
<ul>
    <li>Pauline Lettinga - Chairman</li>
    <li>Puck Kemper - Secretary</li>
    <li>Bram van Dartel - Treasurer</li>
    <li>Ernst-Jan Peters - Acquisition</li>
    <li>Rienk van der Wijk - Hygiene</li>
</ul>
<p>
    The Daily Board can be reached via <a href="mailto:bestuur@sbz.utwente.nl">bestuur@sbz.utwente.nl</a>.
</p>

<h2>Previous Boards</h2>
<p>The fourth Daily Board consisted of:</p>
<ul>
    <li>Egbert Dijkstra - Chairman</li>
    <li>Jaimy de Kok - Secretary</li>
    <li>Thijs Könst - Treasurer & Hygiene</li>
    <li>Lars van Arkel - Acquisition</li>
</ul>
<p>The third Daily Board consisted of:</p>
<ul>
    <li>Mariya Karlashchuk - Chairman</li>
    <li>Sieta de Jong - Secretary</li>
    <li>Frank van Mourik - Treasurer</li>
    <li>Danique Lummen - Acquisition</li>
    <li>Sjoerd Nieuwenhuis - Hygiene</li>
</ul>
<p>The second Daily Board consisted of:</p>
<ul>
    <li>Gijs Verschuur - Chairman</li>
    <li>Luc Jansen - Secretary</li>
    <li>Pieter Bos - Treasurer</li>
    <li>Leon Wagenaar - Acquisition</li>
    <li>Thijs Hoefnagel - Hygiene</li>
</ul>

<p>The first Daily Board consisted of:</p>
<ul>
    <li>Ruben Groot Roessink - Chairman</li>
    <li>Wouter Kobes - Secretary & Hygiene</li>
    <li>Ronald Kremer - Treasurer</li>
    <li>Jiska Chang - Acquisition</li>
</ul>
{% endblock %}
