{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'SBZ -- Construction' %}{% endblock %}

{% block content %}
    <h1>Constructie</h1>

    <p>Het doel van Stichting Borrelbeheer Zilverling (SBZ) is het in- en verkopen van dranken in de borrelruimtes die beheerd worden door de stichting</p>

    <p>De zes deelnemende verenigingen aan SBZ, en daarmee het bestuur van de stichting, zijn:</p>
    <ul>
        <li>I.C.T.S.V. Inter-<i>Actief</i>, de studievereniging voor de bachelors Technical Computer Science en Business
            Information Technology en bijbehorende masters
        </li>
        <li>W.S.G. Abacus, de studievereniging voor de bachelor en de master Applied Mathematics</li>
        <li>E.T.S.V. Scintilla, de studievereniging voor de bachelor Electrical Engineering en de masters Electrical
            Engineering en Embedded Systems
        </li>
        <li>S.A. Proto, de studievereniging voor de bachelor Creative Technology en bijbehorende master</li>
        <li>S.V. Sirius, de studievereniging voor de bachelors Public Administration, Health Sciences, European Studies
            en European Public Administration en bijbehorende masters
        </li>
        <li>S.V. Stress, de studievereniging voor de bachelors Business Administration, International Business
            Administration, Industrial Engineering and Management en Business Information Technology en bijbehorende
            masters
        </li>
    </ul>

    <p>
        Het algemeen bestuur van de stichting is te bereiken via <a href="mailto:ab@sbz.utwente.nl">ab@sbz.utwente.nl</a>.
    </p>

    <h1>Dagelijks Bestuur</h1>
    <p>De uitvoerende taken van de stichting worden uitgevoerd door het dagelijks bestuur. Momenteel bestaat het dagelijks bestuur uit:</p>
    <ul>
        <li>Mariya Karlashchuk - Voorzitter</li>
        <li>Sieta de Jong - Secretaris</li>
        <li>Frank van Mourik - Penningmeester</li>
        <li>Danique Lummen - Commissaris Inkoop</li>
        <li>Sjoerd Nieuwenhuis - Commissaris Hygiëne</li>
    </ul>
    <p>
        Het dagelijks bestuur is te bereiken via <a href="mailto:bestuur@sbz.utwente.nl">bestuur@sbz.utwente.nl</a>.
    </p>

    <h2>Oud-besturen</h2>
    <p>Het tweede dagelijks bestuur bestond uit:</p>
    <ul>
        <li>Gijs Verschuur - Voorzitter</li>
        <li>Luc Jansen - Secretaris</li>
        <li>Pieter Bos - Penningmeester</li>
        <li>Leon Wagenaar - Commissaris Inkoop</li>
        <li>Thijs Hoefnagel - Commissaris Hygiëne</li>
    </ul>

    <p>Het eerste dagelijks bestuur bestond uit:</p>
    <ul>
        <li>Ruben Groot Roessink - Voorzitter</li>
        <li>Wouter Kobes - Secretaris & Commissaris Hygiëne</li>
        <li>Ronald Kremer - Penningmeester</li>
        <li>Jiska Chang - Commissaris Inkoop</li>
    </ul>
{% endblock %}
