{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'SBZ -- Contact' %}{% endblock %}

{% block content %}
    <header>
        <h1>Contactinformatie</h1>
    </header>

    <p>
        <b>Stichting Borrelbeheer Zilverling:</b></br>
        Postbus 217</br>
        7500 AE Enschede</br>
        Email: <a href="mailto:overleg@sbz.utwente.nl">overleg@sbz.utwente.nl</a></br>
        </br>
        Voor dringende vragen kunt u telefonisch contact opnemen met Studievereniging Inter-<i>Actief</i></br>
        Tel.: (053) 489 3756</br>
        </br>
    </p>

    <p>
        <b>Bezoekadres:</b></br>
        Universiteit Twente</br>
        Zilverling, kamer E102 & E104</br>
        Drienerlolaan 5</br>
        7522 NB Enschede</br>
    </p>

    <p>
        </br>
        <b>Routebeschrijving:</b></br>
    </p>
    <div id="map" style="width:60%;height:350px;margin-left:20px"></div>
    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(52.239133, 6.856078),
                zoom: 17
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

    <p>
        </br>
        <b>Openingstijden:</b></br>
        Wij hebben geen vaste openingstijden. Voor het maken van een afspraak kunt u mailen naar <a
            href="mailto:overleg@sbz.utwente.nl">overleg@sbz.utwente.nl</a>.
    </p>
{% endblock %}