{% extends 'base.html' %}

{% load i18n %}

{% block title %}SBZ -- Contact{% endblock %}

{% block content %}
<header>
    <h1>Contact information</h1>
</header>

<h2>Postal address</h2>

<p>
    P.O. box 217</br>
    7500 AE Enschede</br>
    </br>
    For questions directly to the current Daily Board of Stichting Borrelbeheer Zilverling,  </br>
    please email: <a href="mailto:board@sbz.utwente.nl">board@sbz.utwente.nl</a></br></br>

    For questions that are for the associations of Stichting Borrebeheer Zilverling, </br>
    please email: <a href="mailto:overleg@sbz.utwente.nl">overleg@sbz.utwente.nl</a></br></br>

    For urgent questions, you can contact Study association Inter-<i>Actief</i></br>
    Tel.: (053) 489 3756</br>
    </br>
</p>

<h2>Visiting address</h2>

<p>
    University of Twente</br>
    Zilverling, room E102 & E104</br>
    Drienerlolaan 5</br>
    7522 NB Enschede</br>
</p>

<h2>Route</h2>
<iframe src="https://www.openstreetmap.org/export/embed.html?bbox=6.85486525297165%2C52.23843931281459%2C6.857289969921113%2C52.23973524421818&amp;layer=mapnik&amp;marker=52.23908646199728%2C6.856077611446381" 
style="border: 1px solid black;width:60%;height:350px;margin-left:20px"></iframe>


<h2>Opening times</h2>
<p>
    We do not have specific opening times. For visiting us, you can make an appointment via <a
        href="mailto:board@sbz.utwente.nl">board@sbz.utwente.nl</a>.
</p>
{% endblock %}
