{% extends 'base.html' %}

{% load i18n %}

{% block title %}SBZ -- Contact{% endblock %}

{% block content %}
<header>
    <h1>Contact information</h1>
</header>

<h2>Postal address</h2>

<p>
    P.O. box 217</br>
    7500 AE Enschede</br>
    </br>
    For questions directly to the current Daily Board of Stichting Borrelbeheer Zilverling,  </br>
    please email: <a href="mailto:board@sbz.utwente.nl">board@sbz.utwente.nl</a></br></br>

    For questions that are for the associations of Stichting Borrebeheer Zilverling, </br>
    please email: <a href="mailto:overleg@sbz.utwente.nl">overleg@sbz.utwente.nl</a></br></br>

    For urgent questions, you can contact Study association Inter-<i>Actief</i></br>
    Tel.: (053) 489 3756</br>
    </br>
</p>

<h2>Visiting address</h2>

<p>
    University of Twente</br>
    Zilverling, room E102 & E104</br>
    Drienerlolaan 5</br>
    7522 NB Enschede</br>
</p>

<h2>Route</h2>
<div id="map" style="width:60%;height:350px;margin-left:20px"></div>
<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: new google.maps.LatLng(52.239133, 6.856078),
            zoom: 17
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

<h2>Opening times</h2>
<p>
    We do not have specific opening times. For visiting us, you can make an appointment via <a
        href="mailto:board@sbz.utwente.nl">board@sbz.utwente.nl</a>.
</p>
{% endblock %}
