{% extends 'base.html' %}

{% load i18n %}

{% block title %}SBZ -- Frontpage{% endblock %}

{% block content %}
<header>
    <h1>Stichting Borrelbeheer Zilverling</h1>
</header>

<p>Stichting Borrelbeheer Zilverling (SBZ) is a non-profit purchasing foundation for the sale of drinks to <a
        href="{% url 'general:construction' %}">seven study
    associations</a> on the University of Twente campus in Enschede.
</p>

<p>The drinks are purchased for the associations to be used during drinks in the drinking rooms in the Zilverling
    building, on the campus of the University of Twente, and drinks which take place at other locations, such as the
    intro camps or outdoor drinks at the O&O square.
</p>

<p>The drinks that will take place in the near future can be found on <a href="http://alex.ia.utwente.nl">Alexia</a>.
    For organizing a drink, for example a graduation drink, you can contact one of the study associations.
</p>

{% endblock %}
