{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
</head>
<body>
<form id="logout" method="POST" action="{% url 'general:logout' %}" style="display: none">
    {% csrf_token %}
</form>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'general:index' %}">SBZ</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item {% if active_id == "home" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'general:index' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item {% if active_id == "construction" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'general:construction' %}">{% trans 'Construction' %}</a>
                </li>
                <li class="nav-item {% if active_id == "contact" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'general:contact' %}">{% trans 'Contact' %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="dropdown {% if active_id == "multivers" %}active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                            {% trans 'Multivers' %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'multivers:products' %}" class="dropdown-item">{% trans 'Products' %}</a>
                                <a href="{% url 'multivers:index' %}" class="dropdown-item">{% trans 'Sales' %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown {% if active_id == "grolsch" %}active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                            {% trans 'Grolsch' %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'grolsch:products' %}" class="dropdown-item">{% trans 'Products' %}</a>
                                <a href="{% url 'grolsch:price_changes' %}" class="dropdown-item">{% trans 'Price changes' %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown {% if active_id == "flow" %}active{% endif %}">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                            {% trans 'FlowGuard' %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'flowguard:monitor' %}" class="dropdown-item" target="_blank">
                                    {% trans 'Monitor' %}
                                    <span class="oi oi-external-link float-right"></span>
                                </a>
                                <a href="{% url 'flowguard:history' %}" class="dropdown-item">{% trans 'History' %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown {% if active_id == "hygiene" %}active{% endif %}">
                        <a href="" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                            {% trans 'Hygiene' %}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'hygiene:check' %}" class="dropdown-item">{% trans 'Check Today' %}</a>
                                <a href="{% url 'hygiene:plan' %}" class="dropdown-item">{% trans 'Planning' %}</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown {% if messages %}show{% endif %}">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                        {% if user.is_authenticated %}
                            {{ user.first_name }}
                        {% else %}
                            {% trans 'Login' %}
                        {% endif %}
                        <span class="caret"></span>
                    </a>
                    {% if user.is_authenticated %}
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                                <a class="dropdown-item" href="#" onclick="$('#logout').submit();">{% trans 'Logout' %}</a>
                            </li>
                        </ul>
                    {% else %}
                        <div class="dropdown-menu dropdown-menu-right {% if messages %}show{% endif %}">
                            <form class="p-3" method="POST" action="{% url 'general:login' %}">
                                {% csrf_token %}
                                {% for message in messages %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

{% block modals %}{% endblock %}
</body>
</html>
