{% extends 'base.html' %}
{% load bootstrap_form %}

{% block content %}
{% endblock %}

{% block modals %}
    {% bootstrap_delete_modal object 'moneybird:order_drink_line_delete' object.pk %}
    <script>
        // Auto-open the delete modal on page load
        document.addEventListener("DOMContentLoaded", function () {
            var modal = document.getElementById("delete-ConceptOrderDrinkLine-{{ object.pk }}");
            if (modal) {
                $("#delete-ConceptOrderDrinkLine-{{ object.pk }}").modal("show");
            }
        });
    </script>
{% endblock %}
