{% extends 'base.html' %}
{% load i18n bootstrap_form %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="alert alert-danger auto-dismiss fade show">
        {% else %}
        <div class="alert alert-{{ message.tags }} auto-dismiss fade show">
        {% endif %}
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <h1>
        Moneybird Product Types
        <button class="btn btn-secondary" data-toggle="modal" data-target="#create-ProductType">
            + Create
        </button>
    </h1>

    <table class="table">
        <thead>
        <tr>
            <th colspan="1">Name</th>
            <th colspan="1">VAT Rate</th>
            <th colspan="1">Moneybird Ledger ID</th>
            <th><!-- Buttons --></th>
        </tr>
        </thead>
        <tbody>
        {% for product_type in product_type_list %}
            <tr>
                <td>{{ product_type.name }}</td>
                <td>{{ product_type.vat_rate }}</td>
                <td>{{ product_type.ledger_account_id }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#edit-ProductType-{{ product_type.pk }}">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#delete-ProductType-{{ product_type.pk }}">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            document.querySelectorAll('.auto-dismiss').forEach(function(el) {
            el.style.transition = "opacity 0.5s";
            el.style.opacity = "0";
            setTimeout(() => el.remove(), 500);
            });
        }, 5000);
        });
    </script>
{% endblock %}

{% block modals %}
    {% bootstrap_create_modal create_form 'moneybird:product_type_add' %}

    {% for product_type in product_type_list %}
        {% bootstrap_edit_modal product_type product_type.edit_form 'moneybird:product_type_edit' product_type.pk %}
        {% bootstrap_delete_modal product_type 'moneybird:product_type_delete' product_type.pk %}
    {% endfor %}
{% endblock %}
