{% extends 'base.html' %}
{% load i18n bootstrap_form %}

{% block content %}
    <h1>
        Multivers/Alexia products
        <button class="btn btn-secondary" data-toggle="modal" data-target="#create-Product">
            + Create
        </button>
    </h1>

    <table class="table">
        <thead>
        <tr>
            <th colspan="2">{% trans 'Alexia Name' %}</th>
            <th colspan="2">{% trans 'Multivers Name' %}</th>
            <th>{% trans 'Margin?' %}</th>
            <th><!-- Buttons --></th>
        </tr>
        </thead>
        <tbody>
        {% for product in product_list %}
            <tr>
                <td>{{ product.alexia_id }}</td>
                <td>{{ product.alexia_name }}</td>
                <td>{{ product.multivers_id }}</td>
                <td>{{ product.multivers_name }}</td>
                <td>
                    {% if product.margin %}
                        {% trans 'Yes' %}
                    {% else %}
                        {% trans 'No' %}
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#edit-Product-{{ product.pk }}">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#delete-Product-{{ product.pk }}">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modals %}
    {% bootstrap_create_modal create_form 'multivers:product_add' %}

    {% for product in product_list %}
        {% bootstrap_edit_modal product product.edit_form 'multivers:product_edit' product.pk %}
        {% bootstrap_delete_modal product 'multivers:product_delete' product.pk %}
    {% endfor %}
{% endblock %}
